void->void pipeline test {
    add FileReader<float>("../input/floats.in");
    for(int i=1; i<=${threads}; i++)
        add Fdynamic();
    add FileWriter<float>("test.out");
}

float->float filter Fdynamic() {
    work pop * push * {
        int i;
        float x;
        x = pop();
        for (i = 0; i < ${work}; i++) {
            x += i * 3.0 - 1.0;
        }
        push(x);
    }
}


